.projetos {
  & .title {
    margin-top: 1.31rem;
  }

  & #tab-menu {
    margin-top: 3rem;
    display: grid;
    gap: 3rem;
    margin-bottom: 2.81rem;
    grid-template-columns: auto 2fr;

    & .tab-contents {
      & .content {
        gap: 5rem;
        display: none;
        grid-template-columns: auto 1fr;

        &.show {
          display: grid;
        }

        & .content-stack {
          max-height: 15em;
          display: flex;
          gap: 1rem;
          flex-direction: column;

          & > span {
            color: #b8b8b8;
            font-family: "Poppins";
          }

          & > div {
            max-height: 100%;
            overflow: auto;

            &::-webkit-scrollbar {
              width: 8px;
            }

            &::-webkit-scrollbar-track {
              background-color: #0d0d0d;
            }

            &::-webkit-scrollbar-thumb {
              border-radius: 3px;
              background-color: #141313;
              border: 1px solid #525252;
            }

            & div {
              border-radius: 50px;
              padding: 0.5rem 1rem;
              border: 1px solid #f44336;
              background-color: rgb(122, 17, 17, 0.2);
              & .stack-btn {
                font-family: "Poppins";
                background: var(
                  --Gradient-Enfase-Vermelho,
                  linear-gradient(180deg, #f44336 0%, #92170e 100%)
                );
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }
            }
          }
        }

        & .content-info {
          gap: 1rem;
          display: grid;
          justify-items: flex-start;

          & > p {
            max-width: 50ch;
            text-align: left;
          }

          & .content-info-btn {
            gap: 1rem;
            display: flex;
            font-weight: 500;
            margin-top: 1.5rem;
            border-radius: 5px;
            align-items: center;
            padding: 0.5rem 1.5rem;
            justify-content: center;
            color: var(--secondary-color-e11);
            box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
            background: linear-gradient(to bottom, #f44336, #e23023);
          }
        }
      }
    }

    & .tab-buttons {
      height: 20rem;
      width: 15rem;
      display: grid;
      overflow: auto;

      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-track {
        background-color: #0d0d0d;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background-color: #141313;
        border: 1px solid #525252;
      }

      & .tab-btn {
        height: 5rem;
        font-size: 20px;
        font-family: "Poppins";
        color: var(--primary-color-c10);
        background-color: #0d0d0d;
        position: relative;
        text-align: start;
        padding-left: 1.5rem;
        transition: 0.3s ease-in-out;

        &.tab-active {
          color: var(--secondary-color-e7);
        }

        &::before {
          transition: 0.3s ease-in-out;
          position: absolute;
          left: 0;
          top: 0;
          content: "";
          display: block;
          height: 0;
          width: 5px;
          background: linear-gradient(
            to bottom,
            var(--secondary-color-e8),
            var(--secondary-color-e9)
          );
        }

        &:hover {
          cursor: pointer;
          color: var(--secondary-color-e7);
          &::before {
            height: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 1275px) {
  .projetos {
    & #tab-menu {
      & .tab-buttons {
        height: 15rem;
        width: 100%;
        grid-column: 1 / -1;
      }
    }
  }
}

@media (max-width: 1050px) {
  .projetos {
    & #tab-menu {
      gap: 1.5rem 0rem;
      & .tab-contents {
        & .content {
          gap: 2rem;
          grid-template-columns: 1fr;

          & .content-info > p {
            font-size: 1.3rem;
            max-width: 100%;
          }

          & .content-stack {
            max-width: 100%;
            overflow: scroll;
            & > div {
              flex-wrap: nowrap;
              & div {
                flex-shrink: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .projetos {
    & > div {
      & > div {
        & .title {
          font-size: 3.5rem;
        }
      }
    }
  }
}
