.font-poppins {
  font-family: var(--font-poppins);
}

.font-roboto {
  font-family: var(--font-roboto);
}

.font-nunito {
  font-family: var(--font-nunito);
}

.fs-30-px {
  font-size: 1.87rem;
}

.ps-20-px{
  font-size: 1.25rem;
}

.fs-25-px {
  font-size: 1.56rem;
}

.fs-35-px {
  font-size: 2.18rem;
}

.fs-18-px {
  font-size: 1.12rem;
}

.fs-60-px {
  font-size: 3.75rem;
}

.fw-500 {
  font-weight: 500;
}

.fw-400 {
  font-weight: 400;
}

.fw-600 {
  font-weight: 600;
}

.flex-wrap {
  flex-wrap: wrap;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.gap-10-px {
  gap: 0.62rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3{
  gap: 3rem;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-unstyled {
  text-decoration: none;
}

.list-unstyled {
  list-style: none;
}

.primary-color-c0 {
  color: var(--primary-color-c0);
}

.primary-color-c4 {
  color: var(--primary-color-c4);
}

.primary-color-c6 {
  color: var(--primary-color-c6);
}

.btn-padding-0-2 {
  padding: 0.5rem 2rem;
}

.btn-padding-0-1 {
  padding: 0.5rem 1rem;
}

.primary-color-c1 {
  color: var(--primary-color-c1);
}

.secondary-color-e8 {
  color: var(--secondary-color-e8);
}

.secondary-color-e12 {
  color: var(--secondary-color-e12);
}

.bg-primary-color-c13 {
  background-color: var(--primary-color-c13);
}

.bg-btn-cv {
  background: rgb(135, 30, 30, 0.3);

  &:hover {
    background: rgb(135, 30, 30, 0.5);
  }
}

.default-width {
  padding: 1.5rem 2rem;
  margin: 0 auto;
  max-width: 1400px;
}

.linear-gradient-red {
  background: var(--linear-gradient-red);
}

.linear-gradient-red-hover {
  &:hover {
    background: var(--linear-gradient-red-hover);
  }
}

.btn {
  font-weight: 600;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--font-poppins);
  border: 1px solid var(--secondary-color-e7);
}
