* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Roboto";
}

body {
  position: relative;

  &:nth-child(odd){
    background-color: var(--primary-color-c12);
  }

  &:nth-child(even){
    background-color: var(--primary-color-c13);
  }
}

img {
  width: 100%;
}

:root {
  --font-roboto: "Roboto";
  --font-poppins: "Poppins";
  --font-nunito: "Nunito";

  --primary-color-c0: #ffffff;
  --primary-color-c1: #f5f5f5;
  --primary-color-c2: #e0e0e0;
  --primary-color-c3: #cccccc;
  --primary-color-c4: #b8b8b8;
  --primary-color-c5: #a3a3a3;
  --primary-color-c6: #8f8f8f;
  --primary-color-c7: #7a7a7a;
  --primary-color-c8: #666666;
  --primary-color-c9: #525252;
  --primary-color-c10: #3d3d3d;
  --primary-color-c11: #292929;
  --primary-color-c12: #141313;
  --primary-color-c13: #141414;

  --secondary-color-e0: #fa987a;
  --secondary-color-e1: #fa897a;
  --secondary-color-e2: #fa7a7a;
  --secondary-color-e3: #d96565;
  --secondary-color-e4: #c25555;
  --secondary-color-e5: #ae4242;
  --secondary-color-e6: #982f2f;
  --secondary-color-e7: #871e1e;
  --secondary-color-e8: #f44336;
  --secondary-color-e9: #7a1111;
  --secondary-color-e10: #5c0c0c;
  --secondary-color-e11: #350000;
  --secondary-color-e12: #210000;

  --linear-gradient-red: linear-gradient(
    to bottom,
    var(--secondary-color-e8),
    #92170e
  );

  --linear-gradient-red-hover: linear-gradient(
    to bottom,
    var(--secondary-color-e8),
    #ca2115
  );

  --linear-gradient-yellow: linear-gradient(
    to right,
    var(--secondary-color-e8),
    var(--secondary-color-e9)
  );
}
