* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Roboto";
}

body {
  position: relative;
  background-color: #141414;
}

:root {
  --linear-gradient-red: linear-gradient(
    to bottom,
    var(--secondary-color-e8),
    #92170e
  );

  --linear-gradient-red-hover: linear-gradient(
    to bottom,
    var(--secondary-color-e8),
    #ca2115
  );

  --linear-gradient-yellow: linear-gradient(
    to right,
    var(--secondary-color-e8),
    var(--secondary-color-e9)
  );
}
