main {
  padding-top: 9rem;
  height: 50vh;
  background: url("/assets/images/apresentacao.png") no-repeat left top;
  background-size: cover;

  & .introducao {
    & .text-animated {
      & span {
        position: relative;
        transition: 0.5s;

        &::after {
          content: "";
          height: 100%;
          width: calc(100% + 5px);
          right: -5px;
          position: absolute;
          animation: cursor-animation 0.8s infinite ease-in-out,
            word-digit-animation 20s steps(20) infinite;
          border-left: 2px solid var(--secondary-color-e8);
          background: #000;
        }

        &::before {
          content: "";
          display: inline-block;
          animation: word-animation 20s infinite;
        }
      }
    }

    & .introducao-icones {
      padding: 1.5rem 0rem;
    }
  }
}

@media (max-width: 430px) {
  main {
    & .introducao {
      & > h1 {
        font-size: 3rem;
      }

      & > span {
        font-size: 1.3rem;
      }
    }
  }
}

@media (max-width: 356px) {
  main {
    & .introducao {
      & > h1 {
        font-size: 2.7rem;
      }
    }
  }
}

@keyframes word-digit-animation {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }

  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 5px);
  }
}

@keyframes cursor-animation {
  0% {
    border-left: 2px solid #000;
  }
}

@keyframes word-animation {
  0%,
  20% {
    content: "Desenvolvedor de Software";
  }

  21%,
  40% {
    content: "Programador Full-Stack";
  }

  41%,
  60% {
    content: "Design de interfaces";
  }

  61%,
  80% {
    content: "Desenvolvedor Java Spring";
  }

  81%,
  100% {
    content: "Desenvolvedor Web";
  }
}
