main {
  padding-top: 9rem;
  height: 50vh;
  background: url("/assets/images/apresentacao.png") no-repeat center bottom;
  background-size: cover;

  & .introducao {
    & .introducao-icones {
      padding: 1.5rem 0rem;
    }
  }
}

@media (max-width: 430px) {
  main {
    & .introducao {
      & > h1 {
        font-size: 3rem;
      }

      & > span {
        font-size: 1.3rem;
      }
    }
  }
}
