main {
  padding-top: 9rem;
  height: 50vh;
  background: url("/assets/images/apresentacao.png") no-repeat left top;
  background-size: cover;

  & .introducao {
    & .text-animation {
      width: 0;
      display: block;
      overflow: hidden;
      white-space: nowrap;
      border-right: 2px solid var(--secondary-color-e8);
      animation: mark 0.8s step-end infinite, write 6s steps(22, end) infinite;
    }

    & .introducao-icones {
      padding: 1.5rem 0rem;
    }
  }
}

@media (max-width: 430px) {
  main {
    & .introducao {
      & > h1 {
        font-size: 3rem;
      }

      & > span {
        font-size: 1.3rem;
      }
    }
  }
}

@media (max-width: 356px) {
  main {
    & .introducao {
      & > h1 {
        font-size: 2.7rem;
      }
    }
  }
}

@keyframes mark {
  50% {
    border-right-color: transparent;
  }
}

@keyframes write {
  20% {
    width: 21.8ch;
  }

  70% {
    width: 21.8ch;
  }

  85% {
    width: 0;
  }

  100% {
    width: 0;
  }
}